*{margin: 0; padding: 0; box-sizing: border-box;}
header{
    padding-top: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo:hover h1{
    scale: 1.5;
}
.logo h1{
    font-size: 25px;
    transition: 0.5s;
}
a{
    color: inherit;
    text-decoration: none;
}
a img{
    height: 25px;
}
#playlist #MyPlaylist_logout{
    position: absolute;
    top: -8%;
    margin-left: 38px;
    cursor: pointer;
    color:  rgba(110, 105, 105, 0.876);
}
#main{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 90vh;
}
#bot{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#user{
    position: absolute;
    left: 50.3%;
    top: 26.6%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 3px gray;
    padding: 20px 50px 30px;
    top: 340px;
}
.name{
    display: flex;
    align-items: center;
}
.name span{
    line-height: 25px;
    font-size: 15px;
    margin-right: 20px;
}
.name a{
    margin-top: 5px;
}
#member{
    position: relative;
    bottom: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #da0f47;
    font-weight: 500;
}
#login h1{
    margin-bottom: 80px;
    margin-left: 16px;
}
#login > p{
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 16px;
}
#login form{
    text-align: center;
    margin-bottom: 20px;
}
input{
    border: none;
    outline: none;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 6px;
}
#member a:nth-child(1){
    margin-bottom: 15px;
}
#member a:hover div{
    opacity: 1;
}
#member a div{
    height: 1px;
    width: 100%;
    background-color: #da0f47;
    opacity: 0;
    transition: 0.5s;
}
.join{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.join h1{
    text-align: center;
    margin-bottom: 30px;
}
.join h2{
    text-align: center;
    margin-bottom: 10px;
}
.join > p{
    margin-bottom: 35px;
    margin-left: 26px;
}
.joinuser p:nth-child(1) input{
    width: 49%;
}
.joinuser input{
    width: 100%;
    margin-bottom: 10px;
}
.joinuser p:last-child{
    text-align: center;
}
.joinuser p:last-child button:nth-child(1){
    margin-right: 10px;
}
button{
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    padding: 4px 15px;
    font-weight: 500;
}
.aw{
    position: absolute;
    top: 68%;
    left: 49%;
}
#find{
    display: flex;
    position: absolute;
    top: 22%;
    left: 30%;
}
#find h3{
    margin-bottom: 10px;
    margin-left: 9px;
}
#find p{
    margin-bottom: 10px;
}
#find > div:nth-child(2){
    margin-left: 20%;
}

#findid{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 3px grey;
    padding: 20px 50px 30px;
    top: 300px;
}

#findpassword{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 3px grey;
    padding: 20px 50px 30px;
    top: 300px;
}

.findpassword{
    margin-top: 30px;
}

#edit{
    position: absolute;
    top: 25%;
    left: 44%;
}
#edit h2{
    margin-bottom: 10px;
} 
#edit p{
    margin-bottom: 10px;
}
#bar{
    position: absolute;
    top: 5.1%;
    left: 50.1%;
    transform: translateX(-50%);
    width: 939px;
    border-bottom: 2px solid #ccc;
}
#loginbutton{
    margin-top: 15px;
}
input{
    padding: 10px 20px;
}
.Manager{
    width: 30px;
    height: 10px;
    position: absolute;
    bottom: 4%;
    left: 49.5%;
    background-color: #fff;
    z-index: 1;
}

#newAlbum h2{
    position: relative;
    margin-left: 38px;
    cursor: pointer;
    color: rgba(110, 105, 105, 0.876); 
    top: -30px;
}

#newAlbumset img{
    border-radius: 5px;
}

#newAlbumset { 
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; 
    
}

#MyPlaylist img{
    border-radius: 5px;
}

#MyPlaylist { 
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; 
    
}


.hover{
    width: 26%;
    height: 280px;
}
.hover a{
    width: 100%;
    height: 280px;
}
.hover img{
    width: 100%;
    height: 280px;
}

#newAlbum h2:hover #bottombar{
    opacity: 1;
}

#todaysong h2:hover #bottombar{
    opacity: 1;
}
#playlist a:hover #bottombar3{
    opacity: 1;
}
#bottombar{
    height: 2px;
    width: 20.2%;
    background-color: rgba(110, 105, 105, 0.876);
    opacity: 0;
    transition: 0.5s;
}

#bottombar3{
    height: 2px;
    width: 100%;
    background-color: rgba(110, 105, 105, 0.876);
    opacity: 0;
    transition: 0.5s;
}



.songtitle{
    font-size: 14px;
    font-weight: bolder;
}
.songname{
    font-size: 12px;
    color: rgb(94, 91, 91);
}
#albumfile{
    border: none;
}
#writeTable{
    position: absolute;
    left: 50.3%;
    top: 26.6%;
    transform: translate(-50%,-50%);
} 
.filebox{
    position: relative;
} 
.filebox label{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    background: linear-gradient(#42a1ec,#0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    padding: 2px 15px;
    font-size: 14px;
}
.filebox input[type="file"]{
    position: absolute;
    left: 10px;
    top: 0;
    width: 112px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    border: 0;
    z-index: 1;
    opacity: 0;
}
#writeTable  {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 3px gray;
    padding: 50px 100px;
    top: 300px;
}

#writeTable > h2{
    margin-bottom: 20px;
}


.hover p:hover #bottombar1 {
    opacity: 1;
}
#bottombar1 {
    height: 2px;
    width: 20.2%;
    background-color: rgba(60, 58, 58, 0.876);
    opacity: 0;
    transition: 0.5s;
}
#SearchBar{
    position: absolute;
    left: 830px;
    top: 55px;
}
#SearchResult{
    display: flex;
    position: absolute;
    left: 35%;
    top: 20%;   
}
#SearchResult h1{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.23077;

}
.SearchResult{
    margin-top: 80px;
    margin-left: 15px;
}
.SearchResult h1{
    margin-bottom: 10px;
}
.SearchResult p:nth-child(2){
    margin-bottom: 8px;
}

#SearchImg{
    border-radius: 9px;
    width: 360px;
    height: 360px;
}
#playsong{
    background-color: #d60017;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 6px ;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
}

#SearchArtist{
    color: #d60017;
    font-size: 26px;
    font-weight: 400
}


#todaysong h2 {
    position: relative;
    margin-left: 38px;
    cursor: pointer;
    color:  rgba(110, 105, 105, 0.876);
    top: -30px;
}


#playlist h2{
    position: absolute;
    top: 6%;
    margin-left: 38px;
    cursor: pointer;
    color:  rgba(110, 105, 105, 0.876);
}
 

#playlist_set{
    background-color: #07c;
    width: 100%;
    height: 100%;
}

#playlistbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

main{
    width: 100%;
}

.main__singer_info_container {
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .singer-photo {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  .singer-photo img {
    position: absolute;
    top: 5px;
    width: 80px;
  }
  #singer-photo2 img{
    position: absolute;
    top: 0;
    width: 100px;
  }

  .singer-name {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .singer-category {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
  }

  .main__shuffle_or_heart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .shuffle,
  .heart {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
  }
  
  .shuffle {
    font-weight: bold;
    color: rgb(5, 5, 5);
    margin-right: 10px;
    box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  }
  
  .heart {
    box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    margin-left: 10px;
  }

.main__playList {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.playList__song {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

.playList__song:nth-child(2) {
  box-shadow: 0px 1px 7px 0.2px rgba(0, 0, 0, 0.1);
}

.page_one{
    width: 100%;
}
.song__album {
  margin-left: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song__album img {
  width: 50px;
  border-radius: 5px;
}

.song__play_icon_container {
  position: absolute;
  color: whitesmoke;
}

.song__album_info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.album_info__singer {
  font-size: 15px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.MeloMance{
    font-size: 8px;
} 

.album_info__title {
  font-size: 17px;
}

.song__ellipsis_container {
  color: rgba(0, 0, 0, 0.5);
}

.main__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0.5px rgba(0, 0, 0, 0.3);
  background-color: var(--main-black);
  margin-bottom: 20px;
  margin-left: 10%;
}

.controller__playing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.playing__singer {
  font-size: 15px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
  
}

.playing__title {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.controller__btn {
  font-size: 15px;
  width: 30%;
  color: rgb(8, 8, 8);
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#imgView {
    width: 48%;
    height: 52.3%;
    position: absolute;
    left: 50%;
    top: 36.8%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
#imgDivs{
    position: absolute;
    top: 50%;
    left: 0%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
  }

.imgdiv{
    width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
}
.btn {
    width: 80px;
    height: 80px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
  }
.btn i {
    font-size: 25px;
}
#loginlogo:hover .loginlogo{
    scale: 1.5;
}
.loginlogo{
    transition: 0.5s;
}


#loginlogo:hover #startaw{
    opacity: 1;
}

#startaw{
    opacity: 0;
    transition: 0.5s;
    margin-left: 50px;
    margin-top: 10px;
}

#startaw span{
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.23077;
}

#loginlogo:hover #endaw{
    opacity: 1;
}

#endaw{
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 8%;
    right: 7.3%;
}

#endaw span{
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.23077;
}

#nextbtn { transform: translate(407px, -220%); } 
#prevbtn { transform: translate(-482px, -220%); }

#playlistview{
    position: absolute;
    width: 48%;
    height: 52.3%;
    left: 50%;
    top: 36.8%;
    transform: translate(-50%,-50%);
}
li{
    list-style: none;
}
#playlistview h2{
    position: absolute;
    top: 6%;
    margin-left: 38px;
    cursor: pointer;
    color:  rgba(110, 105, 105, 0.876);
}
#lovesong{
    width: 100%;
}
#playlistview ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#playlistview ul li{
    margin-top: 120px;
    width: 16%;
    position: relative;
}
#playlistview ul li img{
    width: 100%;
    border-radius: 6px;
}
#playlistview ul li p:nth-child(2){
    font-size: 13px;
    font-weight: bold;
}
#playlistview ul li p:nth-child(3){
    color: rgb(104, 104, 104);
    font-size: 12px ;
}
#playlistview ul li:hover #Lovesong{
    opacity: 1;
}
#Lovesong{
    background-color: #d60017;
    color: #fff;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 6px ;
    font-size: 13px;
    font-weight: 600;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 60%;
}
#page{
    position: absolute;
    top: 80%;
    left: 40%;
}
#page a{
    padding: 0 10px;
}

#startaw1{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 36.8%;
    transform: translate(-50%,-50%);
    background-color: rgba(63, 60, 60, 0.281);
}